<ion-header>
  <ion-toolbar color="dark">
    <ion-title>{{titulo}}</ion-title>
    <ion-button slot="start" color="medium">
      <ion-back-button defaultHref="/places"></ion-back-button>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content color="medium">
  <ion-row>
    <ion-col>
      <ion-card>
        <ion-input placeholder="{{holder_titulo}}" type="text" #title></ion-input>
        <ion-input placeholder="{{holder_image}}" type="text" #image></ion-input>
      </ion-card>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col class = "ion-text-center">
      <ion-button color="dark" (click)="saveNewPlace(title, image)">{{guardar}}</ion-button>       
    </ion-col>
  </ion-row>
</ion-content>
